In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from wordcloud import WordCloud

In [2]:
df = pd.read_excel("../data/sods.xlsx")

In [3]:
df.head(5)

,idade,genero,etnia,pcd,vive_no_brasil,estado_moradia,nivel_ensino,formacao,tempo_experiencia_dados,linguagens_preferidas,bancos_de_dados,cloud_preferida,cargo
0,39.0,Masculino,Parda,Não,True,Distrito Federal (DF),Pós-graduação,Computação / Engenharia de Software / Sistemas...,de 1 a 2 anos,R,"PostgreSQL, Oracle, MySQL, SQL SERVER",Amazon Web Services (AWS),DBA/Administrador de Banco de Dados
1,32.0,Masculino,Parda,Não,True,Pará (PA),Graduação/Bacharelado,Outras Engenharias,de 3 a 4 anos,NaN,NaN,NaN,NaN
2,53.0,Masculino,Branca,Não,True,Distrito Federal (DF),Pós-graduação,Computação / Engenharia de Software / Sistemas...,de 3 a 4 anos,Python,"PostgreSQL, MySQL, Oracle, DB2",Amazon Web Services (AWS),Desenvolvedor/ Engenheiro de Software/ Analist...
3,27.0,Masculino,Branca,Não,True,Minas Gerais (MG),Doutorado ou Phd,Estatística/ Matemática / Matemática Computaci...,de 4 a 6 anos,Python,Google BigQuery,Não sei opinar,Cientista de Dados/Data Scientist
4,46.0,Feminino,Branca,Não,True,Pará (PA),Pós-graduação,Computação / Engenharia de Software / Sistemas...,Não tenho experiência na área de dados,Python,Microsoft Access,Amazon Web Services (AWS),Desenvolvedor/ Engenheiro de Software/ Analist...

## Extraindo informações sobre o dataframe

In [4]:
df.describe()

             idade
count  4197.000000
mean     31.169168
std       6.902803
min      18.000000
25%      26.000000
50%      30.000000
75%      35.000000
max      54.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4271 entries, 0 to 4270
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   idade                    4197 non-null   float64
 1   genero                   4262 non-null   object
 2   etnia                    4271 non-null   object
 3   pcd                      4271 non-null   object
 4   vive_no_brasil           4271 non-null   bool
 5   estado_moradia           4156 non-null   object
 6   nivel_ensino             4271 non-null   object
 7   formacao                 4149 non-null   object
 8   tempo_experiencia_dados  3694 non-null   object
 9   linguagens_preferidas    2979 non-null   object
 10  bancos_de_dados          2978 non-null   object
 11  cloud_preferida          2981 non-null   object
 12  cargo                    2981 non-null   object
dtypes: bool(1), float64(1), object(11)
memory usage: 404.7+ KB

In [6]:
df.isnull().sum()

idade                        74
genero                        9
etnia                         0
pcd                           0
vive_no_brasil                0
estado_moradia              115
nivel_ensino                  0
formacao                    122
tempo_experiencia_dados     577
linguagens_preferidas      1292
bancos_de_dados            1293
cloud_preferida            1290
cargo                      1290
dtype: int64

## Iniciando os Tratamentos com os dados nulos

substituindo os valores NaN das colunas por 'Prefiro não informar'

In [7]:
df.loc[:,'genero'] = df['genero'].fillna('Prefiro não informar')

In [8]:
df.loc[:,'estado_moradia'] = df['estado_moradia'].fillna('Não Informado')

In [9]:
df.loc[:, 'formacao'] = df['formacao'].fillna('Prefiro não informar')

#### Analisando a idade media geral por genero
Para substituir os valores nulos pela idade media por genero

In [10]:
df['idade'].mean()

np.float64(31.169168453657374)

In [11]:
df.groupby(['genero'])['idade'].mean()

genero
Feminino                31.318052
Masculino               31.147876
Prefiro não informar    26.473684
Name: idade, dtype: float64

#### Realizando essa substituição dos valores nulos pela idade media por genero

In [12]:
idades_generos = df.groupby(['genero'])['idade'].mean()

In [13]:
f = round(idades_generos['Feminino'])
m = round(idades_generos['Masculino'])
n = round(idades_generos['Prefiro não informar'])

print (f,m,n)

31 31 26

In [14]:
condicao = (df['idade'].isna()) & (df['genero'] == 'Masculino')
df.loc[condicao, 'idade'] = m

condicao = (df['idade'].isna()) & (df['genero'] == 'Prefiro não informar')
df.loc[condicao, 'idade'] = n

condicao = (df['idade'].isna()) & (df['genero'] == 'Feminino')
df.loc[condicao, 'idade'] = f

Verificando quantos dados são nulos novamente

In [15]:
df.isnull().sum()

idade                         0
genero                        0
etnia                         0
pcd                           0
vive_no_brasil                0
estado_moradia                0
nivel_ensino                  0
formacao                      0
tempo_experiencia_dados     577
linguagens_preferidas      1292
bancos_de_dados            1293
cloud_preferida            1290
cargo                      1290
dtype: int64

 #### Verificando possiveis linhas com diversas dados faltosos, importantes, devido ao grande e semelhante numero de dados nulos nas colunas "linguagem_preferidas": 1292, "banco_de_dados": 1293, "cloud_preferida": 1290, "cargo": 1290. Amazenando essa correlação e uma coluna pra ver se todos essas colunas são nulas nas mesmas linhas

In [16]:
df['carreira_nan'] = df['cargo'].isna() & df['cloud_preferida'].isna() & df['bancos_de_dados'].isna() & df['linguagens_preferidas'].isna()

#### Devido ao uso da função sum() usada nessa coluna nova é possivel verificar que ela retornou True 1290 vezes oque concidente com o intervalo de dados nulos das colunas

In [17]:
df['carreira_nan'].sum()

np.int64(1290)

#### Verificando agora para as colunas "banco_de_dados": 1293, "linguagens_preferidas": 1292 (dados nulos)

In [18]:
df['linguagem_banco'] = df['bancos_de_dados'].isna() & df['linguagens_preferidas'].isna()

df['linguagem_banco'].sum()

np.int64(1292)

#### Analisando se existe uma relação, se eles são nulos na mesma linha, entre entre os dados das colunas "tempo_experiencia_dados" e "formacao"
Não foi valido essa relação

In [19]:
df['tempo_formacao'] = df['tempo_experiencia_dados'].isna() & df['formacao'].isna()

df['tempo_formacao'].sum()

np.int64(0)

#### Excluindo todas as linhas que possuem 'carreira_nan' como True. Pois essas linhas possuem 4 dados vazios importantes e que possivelmente iriam influenciar o modelo preditivo

In [20]:
df = df[~df['carreira_nan']]

Verificando os dados vazios

In [21]:
df.isnull().sum()

idade                      0
genero                     0
etnia                      0
pcd                        0
vive_no_brasil             0
estado_moradia             0
nivel_ensino               0
formacao                   0
tempo_experiencia_dados    0
linguagens_preferidas      2
bancos_de_dados            3
cloud_preferida            0
cargo                      0
carreira_nan               0
linguagem_banco            0
tempo_formacao             0
dtype: int64

Substituindo os valores vazios de "formacao" por 'Prefiro não informar' e "linguagens_preferidas" por 'Não sei opinar'

In [22]:
df.loc[:,'linguagens_preferidas'] = df['linguagens_preferidas'].fillna('Não sei opinar')

In [23]:
df.loc[:,'bancos_de_dados'] = df['bancos_de_dados'].fillna('Prefiro não informar')

In [24]:
df.isnull().sum()

idade                      0
genero                     0
etnia                      0
pcd                        0
vive_no_brasil             0
estado_moradia             0
nivel_ensino               0
formacao                   0
tempo_experiencia_dados    0
linguagens_preferidas      0
bancos_de_dados            0
cloud_preferida            0
cargo                      0
carreira_nan               0
linguagem_banco            0
tempo_formacao             0
dtype: int64

In [25]:
df.head(5)

,idade,genero,etnia,pcd,vive_no_brasil,estado_moradia,nivel_ensino,formacao,tempo_experiencia_dados,linguagens_preferidas,bancos_de_dados,cloud_preferida,cargo,carreira_nan,linguagem_banco,tempo_formacao
0,39.0,Masculino,Parda,Não,True,Distrito Federal (DF),Pós-graduação,Computação / Engenharia de Software / Sistemas...,de 1 a 2 anos,R,"PostgreSQL, Oracle, MySQL, SQL SERVER",Amazon Web Services (AWS),DBA/Administrador de Banco de Dados,False,False,False
2,53.0,Masculino,Branca,Não,True,Distrito Federal (DF),Pós-graduação,Computação / Engenharia de Software / Sistemas...,de 3 a 4 anos,Python,"PostgreSQL, MySQL, Oracle, DB2",Amazon Web Services (AWS),Desenvolvedor/ Engenheiro de Software/ Analist...,False,False,False
3,27.0,Masculino,Branca,Não,True,Minas Gerais (MG),Doutorado ou Phd,Estatística/ Matemática / Matemática Computaci...,de 4 a 6 anos,Python,Google BigQuery,Não sei opinar,Cientista de Dados/Data Scientist,False,False,False
4,46.0,Feminino,Branca,Não,True,Pará (PA),Pós-graduação,Computação / Engenharia de Software / Sistemas...,Não tenho experiência na área de dados,Python,Microsoft Access,Amazon Web Services (AWS),Desenvolvedor/ Engenheiro de Software/ Analist...,False,False,False
5,32.0,Feminino,Parda,Não,True,Ceará (CE),Pós-graduação,Ciências Biológicas/ Farmácia/ Medicina/ Área ...,Não tenho experiência na área de dados,Python,Google BigQuery,Google Cloud (GCP),Professor,False,False,False

#### Excluindo as colunas que foram usadas para analisar as correlações

In [26]:
df = df.drop(columns='tempo_formacao')
df = df.drop(columns='carreira_nan')
df = df.drop(columns='linguagem_banco')

#### Analisando as linguagens preferidas por genero. Verificando que existem respostas inconsistentes

In [27]:
df.groupby(['genero','linguagens_preferidas']).size()

genero                linguagens_preferidas
Feminino              C/C++/C#                               7
                      Dax                                    1
                      Excel                                  1
                      Java                                   1
                      Julia                                  4
                      KQL                                    1
                      Nenhum                                 1
                      NÃO SEI                                1
                      Não sei                                1
                      Não sei opinar                         1
                      Não uso                                1
                      Não utilizo                            1
                      PySpark                                2
                      Python                               617
                      R                                     83
                      SQL                                   10
                      SQL Postegres                          1
                      Scala                                  8
                      Softwares estatísticos como spss       1
                      Spark                                  1
                      Sql                                    7
                      javascript                             1
                      spark                                  1
                      sql                                    1
Masculino             Aql                                    1
                      C/C++/C#                              18
                      Clojure                                1
                      Elixir                                 3
                      Excel                                  1
                      Go                                     2
                      Julia                                 13
                      M                                      1
                      M Language                             1
                      Nao atuo com programação               1
                      Nenhuma                                1
                      Não sei opinar                         1
                      Python                              1952
                      R                                    163
                      Rust                                   3
                      SQL                                   18
                      Sas                                    1
                      Scala                                 26
                      Sql                                    1
                      VBA                                    1
                      java                                   1
                      sql                                    1
                      xlsx                                   1
Prefiro não informar  Python                                12
                      R                                      2
                      Scala                                  1
dtype: int64

#### Tratamento dos dados da coluna "linguagens_preferidas"

In [28]:
df['linguagens_preferidas'] = df['linguagens_preferidas'].apply(lambda x: x.lower())

In [29]:
df['linguagens_preferidas'] = df['linguagens_preferidas'].replace("não sei", "não sei opinar")

df.loc[df['linguagens_preferidas'] == "não uso", 'linguagens_preferidas'] = "não sei opinar"

df.loc[df['linguagens_preferidas'] == "não utilizo", 'linguagens_preferidas'] = "não sei opinar"

df.loc[df['linguagens_preferidas'] == "nenhum", 'linguagens_preferidas'] = "não sei opinar"

df.loc[df['linguagens_preferidas'] == "nao atuo com programação", 'linguagens_preferidas'] = "não sei opinar"

df.loc[df['linguagens_preferidas'] == "nenhuma", 'linguagens_preferidas'] = "não sei opinar"

df['linguagens_preferidas'] = df['linguagens_preferidas'].replace("aql", "sql")

df['linguagens_preferidas'] = df['linguagens_preferidas'].replace("kql", "sql")

df['linguagens_preferidas'] = df['linguagens_preferidas'].replace("m", "m language")

df['linguagens_preferidas'] = df['linguagens_preferidas'].replace("xlsx", "excel")

df['linguagens_preferidas'] = df['linguagens_preferidas'].replace("softwares estatísticos como spss", "não sei opinar")

In [30]:
df.groupby(['genero','linguagens_preferidas']).size()

genero                linguagens_preferidas
Feminino              c/c++/c#                    7
                      dax                         1
                      excel                       1
                      java                        1
                      javascript                  1
                      julia                       4
                      não sei opinar              7
                      pyspark                     2
                      python                    617
                      r                          83
                      scala                       8
                      spark                       2
                      sql                        19
                      sql postegres               1
Masculino             c/c++/c#                   18
                      clojure                     1
                      elixir                      3
                      excel                       2
                      go                          2
                      java                        1
                      julia                      13
                      m language                  2
                      não sei opinar              3
                      python                   1952
                      r                         163
                      rust                        3
                      sas                         1
                      scala                      26
                      sql                        21
                      vba                         1
Prefiro não informar  python                     12
                      r                           2
                      scala                       1
dtype: int64

#### Tratamento dos Dados da coluna 'bancos_de_dados'

In [31]:
df['bancos_de_dados'] = df['bancos_de_dados'].apply(lambda x: x.lower())
filtro = df['bancos_de_dados'].str.lower().str.startswith('n', na=False)
valores_unicos_com_n = df.loc[filtro, 'bancos_de_dados'].unique()

valores_unicos_com_n

array(['nenhum', 'não utilizo.', 'não atuo ainda nisso',
       'neo4j, mongodb, snowflake, amazon aurora ou rds, mysql, elaticsearch, sqlite, mariadb, hbase, hive, sql server, dynamodb, oracle, cassandra, s3, presto, amazon redshift, databricks, amazon athena',
       'nenhuma', 'não utiluzo', 'não temos bd', 'não uso nenhum',
       'nao utilizo', 'nsa', 'não utilizo nenhum',
       'nenhuma das respostas', 'nenhum dos listados, apenas excel',
       'não reconheço nenhum',
       'não atuo na área ainda, estou em transição de carreira',
       'nao uso', 'nenhum desses', 'não uso', 'neo4j, mysql, postgresql',
       'não trabalho com banco diretamente', 'não utilizo',
       'não possuímos um banco de dados.',
       'não utilizamos banco de dados', 'nenhum acima',
       'não atuo na área ainda', 'não trabalho com base de dados.',
       'não uso bd no trabalho, somente em cursos',
       'nenhum dos citados acima', 'nosso banco é no excel', 'não usamos',
       'neo4j, s3, mongodb, google bigquery', 'não sei', 'nda',
       'nao atuo na area de tech na empresa ainda', 'não se aplica',
       'nenhum destes',
       'não tenho acesso ao banco de dados devido ao compliance da empresa',
       'neo4j, google bigquery, postgresql, google firestore, firebase, amazon athena',
       'nd', 'não utilizo bancos de dados.', 'none',
       'não trabalho com dados'], dtype=object)

#### Utilizando regex para substituir todos os dados que poderiam ser 'não', 'nao', 'nenhum', 'nenhuma', 'nda', 'não aplicavel', 'none'

In [32]:
padrao_regex = r'(?i)^(n[aã]o|nenhum|nenhuma|nda|n/a|none).*'
df['bancos_de_dados'] = df['bancos_de_dados'].replace("nd", "não uso")

df['bancos_de_dados'] = df['bancos_de_dados'].replace(
    to_replace=padrao_regex,
    value='não uso',
    regex=True
)

In [33]:
filtro = df['bancos_de_dados'].str.lower().str.startswith('n', na=False)
valores_unicos_com_n = df.loc[filtro, 'bancos_de_dados'].unique()

valores_unicos_com_n

array(['não uso',
       'neo4j, mongodb, snowflake, amazon aurora ou rds, mysql, elaticsearch, sqlite, mariadb, hbase, hive, sql server, dynamodb, oracle, cassandra, s3, presto, amazon redshift, databricks, amazon athena',
       'nsa', 'neo4j, mysql, postgresql', 'nosso banco é no excel',
       'neo4j, s3, mongodb, google bigquery',
       'neo4j, google bigquery, postgresql, google firestore, firebase, amazon athena'],
      dtype=object)

Resentando Index

In [34]:
df = df.reset_index(drop=True)

In [35]:
df['bancos_de_dados'].unique().tolist()

['postgresql, oracle, mysql, sql server',
 'postgresql, mysql, oracle, db2',
 'google bigquery',
 'microsoft access',
 'sql server',
 'postgresql, sqlite, amazon athena',
 'mysql, postgresql, sql server',
 'sql server, hive, postgresql, splunk, databricks',
 'mysql, oracle, google bigquery',
 'oracle, mongodb, postgresql, databricks, hive',
 'google bigquery, dynamodb',
 'mongodb, db2, databricks, microsoft access, sql server, mariadb, oracle, mysql',
 'amazon athena, amazon redshift, databricks, mysql, s3',
 'postgresql, sql server, sqlite',
 'google bigquery, google cloud storage',
 'mysql',
 'amazon redshift, mongodb, amazon aurora ou rds',
 'microsoft access, sql server',
 'clickhouse',
 'amazon redshift, oracle, postgresql, amazon athena',
 'base de dados local',
 'mongodb, redis, postgresql, elaticsearch, s3',
 'mysql, sql server, postgresql, sqlite',
 'postgresql',
 'hive, elaticsearch, amazon aurora ou rds, sql server, presto, s3, mysql, amazon athena, dynamodb, amazon redshift, postgresql, oracle',
 's3',
 'sql server, mysql, postgresql, google bigquery',
 'splunk, amazon athena, google bigquery',
 'sap hana, db2, hive, databricks, mysql, amazon redshift, google bigquery, amazon athena, postgresql, s3, presto, sql server, mongodb',
 'google bigquery, mongodb, postgresql',
 'google bigquery, mysql',
 'amazon redshift, sql server, oracle',
 'databricks, google bigquery',
 'sql server, oracle, s3, sqlite, amazon athena, hive',
 's3, amazon redshift, amazon athena, mysql, amazon aurora ou rds',
 'oracle',
 'google bigquery, sap hana',
 'mysql, amazon redshift, mariadb, s3, elaticsearch, sqlite',
 'não uso',
 'postgresql, snowflake, dremio',
 'postgresql, sql server, google bigquery, mysql, cassandra, databricks',
 'amazon athena',
 'sql server, databricks, s3, mongodb',
 'interno',
 'hive, presto',
 'mysql, google bigquery, elaticsearch',
 'postgresql, sql server',
 'sql server, sybase, oracle, databricks',
 's3, mysql, sql server, databricks, oracle, snowflake, amazon athena, db2, sap hana, google bigquery',
 'databricks, s3',
 'databricks, sap hana',
 'amazon athena, s3, databricks',
 'oracle, snowflake',
 'sqlite, mysql, postgresql',
 's3, amazon redshift, mysql, amazon athena, sql server, postgresql',
 'sap hana',
 'mysql, firebase',
 'bases excel e csv extraídas direto no site',
 'metabase',
 'google bigquery, postgresql, sqlite, sql server, mysql, mongodb',
 'google bigquery, postgresql',
 'amazon athena, s3, presto, postgresql',
 'amazon redshift, s3, postgresql',
 'postgresql, amazon athena, s3, amazon aurora ou rds',
 'postgresql, google bigquery, snowflake, dynamodb, databricks',
 'excel',
 'mysql, mariadb, sql server, postgresql',
 'datomic, hive, splunk, amazon redshift, postgresql, dynamodb, presto, s3, cruxdb',
 'oracle, s3, dynamodb, amazon redshift, amazon athena',
 'sql server, progress',
 's3, amazon redshift, cassandra',
 's3, amazon athena',
 'databricks, sql server',
 'databricks',
 'amazon aurora ou rds, mysql, snowflake, oracle, amazon redshift, sql server, elaticsearch, amazon athena, s3, databricks, hive, google bigquery, cassandra',
 'databricks, sql server, sqlite, mysql',
 'oracle, amazon redshift, snowflake, postgresql',
 'postgresql, amazon redshift, dynamodb',
 'microsoft access, amazon redshift, sql server',
 'databricks, snowflake, s3',
 'sql server, s3, mysql, amazon athena',
 'postgresql, mysql, sql server',
 'mongodb, sap hana, google bigquery, dynamodb',
 'microsoft access, google bigquery',
 'postgresql, google bigquery, mongodb',
 'amazon redshift, snowflake, databricks',
 'sqlite, hive, google bigquery, postgresql, mysql, mongodb',
 'firebase',
 'dali - hpcc system',
 'oracle, databricks',
 'mysql, sqlite, s3',
 'sql server, amazon aurora ou rds, s3, amazon redshift, mongodb, sqlite, databricks, snowflake, google bigquery, postgresql, oracle, amazon athena, mysql',
 'mysql, sql server',
 'postgresql, google bigquery, sap hana',
 'dados não estruturados',
 'amazon athena, amazon redshift, mysql, amazon aurora ou rds',
 'snowflake',
 's3, amazon redshift, db2, mysql',
 'amazon aurora ou rds, elaticsearch, sql server, postgresql, dynamodb, amazon redshift, presto, amazon athena, s3',
 'elaticsearch, sql server',
 'sql server, snowflake',
 'mysql, sap hana, postgresql, sql server, mongodb, google bigquery',
 'amazon aurora ou rds, s3, mongodb, postgresql',
 'postgresql, oracle, mysql, s3',
 'google bigquery, google firestore',
 'postgresql, google bigquery, databricks',
 'sql server, db2',
 'amazon redshift, amazon aurora ou rds, s3',
 'db2, sql server',
 'sap hana, snowflake',
 'microsoft access, oracle, sql server',
 'postgresql, sql server, databricks',
 'postgresql, amazon athena, firebase, mongodb, google bigquery, amazon redshift, s3',
 'snowflake, s3, sistema de crm',
 'amazon redshift, google bigquery',
 'snowflake, elaticsearch, google bigquery, databricks, amazon athena, s3, mongodb, redis, dynamodb, postgresql, hive',
 's3, amazon aurora ou rds, sql server',
 'databricks, mysql, amazon redshift, postgresql, s3',
 'elaticsearch, mysql, postgresql, amazon athena, amazon redshift, amazon aurora ou rds, s3, dynamodb',
 'mongodb',
 'sql server, postgresql, google bigquery',
 'cassandra',
 'oracle, postgresql, sql server',
 'mysql, postgresql',
 'google firestore',
 'hive, mysql, dynamodb',
 's3, databricks, snowflake',
 'sql server, microsoft access',
 'google bigquery, hive, cloud spanner',
 'oracle, mysql',
 'amazon athena, neo4j, s3',
 'neo4j, mongodb, snowflake, amazon aurora ou rds, mysql, elaticsearch, sqlite, mariadb, hbase, hive, sql server, dynamodb, oracle, cassandra, s3, presto, amazon redshift, databricks, amazon athena',
 'mysql, amazon aurora ou rds, mongodb, postgresql',
 'google bigquery, postgresql, s3',
 'oracle, sql server, mysql',
 'google bigquery, sql server, mysql',
 'databricks, hive, postgresql, presto, sql server',
 'sqlite',
 'sharepoint',
 'sql server, amazon redshift',
 'microsoft access, oracle',
 'oracle, presto, neo4j, hbase, firebase, google bigquery, elaticsearch, snowflake, sqlite, dynamodb, redis, amazon aurora ou rds, mysql, amazon athena, amazon redshift, mongodb, sql server, hive, s3',
 'dynamodb, sql server',
 'postgresql, mysql',
 'sybase, postgresql, sql server',
 'hive, teradata',
 'mysql, s3, amazon aurora ou rds, sql server, databricks, postgresql',
 'sap hana, google bigquery, sql server, mysql',
 'postgresql, elaticsearch, google bigquery',
 'amazon aurora ou rds, amazon athena',
 'mongodb, postgresql, google bigquery',
 'google bigquery, amazon redshift',
 'postgresql, splunk, elaticsearch, db2',
 'synapse',
 'amazon redshift, s3',
 'db2, google bigquery, firebase, sql server, mongodb',
 'postgresql, presto, databricks, impala',
 'mariadb, databricks',
 'google bigquery, sql server, oracle, snowflake, s3, amazon aurora ou rds, mysql',
 'hive, google bigquery, s3, amazon redshift',
 'databricks, sql server, mysql',
 'sql server, splunk',
 'google bigquery, dynamodb, datomic, databricks, splunk',
 'amazon redshift',
 's3, amazon aurora ou rds, sql server, postgresql, amazon redshift, presto, hive, amazon athena, databricks, mongodb',
 's3, amazon athena, dynamodb, amazon redshift, google bigquery',
 'hive, databricks, google bigquery',
 'amazon redshift, mysql, databricks, s3',
 'sql server, oracle, microsoft access',
 'sql server, oracle, mysql, mongodb',
 'sql server, mysql',
 'sql server, sqlite, snowflake, sap hana',
 'api',
 'sql server, oracle',
 'sql server, s3, postgresql',
 'sap hana, google bigquery',
 'mysql, databricks',
 'snowflake, elaticsearch, redis, amazon redshift',
 'google analytics',
 'postgresql, s3',
 'sql server, mongodb, neo4j, postgresql, mysql',
 'sql server, postgresql, mysql, snowflake',
 'amazon athena, google bigquery, amazon aurora ou rds, mysql, elaticsearch, postgresql, mongodb',
 'nsa',
 'mysql, firebase, sql server, firebird',
 'sql server, oracle, mysql, microsoft access, postgresql, mongodb',
 'databricks, redis, elaticsearch, hive',
 's3, amazon redshift',
 'oracle, postgresql, sqlite, mysql, sql server',
 's3, postgresql, mysql, sql server, sqlite',
 'snowflake, sql server, azure blob storage',
 'elaticsearch',
 'datomic, google bigquery, databricks, s3, splunk',
 'google bigquery, mysql, mariadb',
 'sqlite, mongodb, sql server',
 'amazon athena, mariadb, mysql, s3',
 'oracle, amazon athena, amazon redshift, sql server, postgresql',
 's3, google bigquery, splunk, dynamodb, databricks',
 'snowflake, odbc',
 'amazon aurora ou rds, s3',
 'oracle, sql server',
 'databricks, amazon redshift',
 'sql server, databricks',
 'db2, sap hana, google bigquery',
 's3, databricks',
 'databricks, mongodb, oracle, mysql',
 'oracle, mysql, sql server',
 'google bigquery, google firestore, mysql',
 'dremio',
 'dynamodb, hive, sql server, db2, hbase',
 'mysql, sqlite, sql server',
 'snowflake, s3, sas',
 'teradata',
 'sql server, amazon redshift, mysql',
 's3, mysql, amazon aurora ou rds, sql server, postgresql',
 'postgresql, s3, amazon redshift',
 'sap hana, oracle, sql server',
 'dynamodb, mongodb, amazon athena, databricks, mysql, hive',
 'mysql, amazon aurora ou rds, amazon athena, amazon redshift, snowflake, mongodb, postgresql, s3',
 'oracle, db2',
 'mysql, mariadb, dynamodb, amazon redshift, amazon aurora ou rds',
 'snowflake, s3, sql server',
 'databricks, sql server, oracle, sqlite',
 'hive, mariadb, sql server, mysql, mongodb',
 'redis, s3, dynamodb, amazon aurora ou rds, postgresql, oracle, mysql, hbase, elaticsearch, sqlite, mongodb, mariadb, amazon athena, amazon redshift',
 'google bigquery, postgresql, gcs',
 'bigquery',
 'google bigquery, sql server, sybase',
 's3, postgresql, redis, mongodb',
 'mongodb, postgresql',
 'oracle, redis, postgresql',
 'sql server, oracle, postgresql',
 'oracle, amazon athena, mysql, google bigquery',
 'google bigquery, amazon redshift, amazon athena, s3',
 'oracle, databricks, sql server, s3, google bigquery',
 'amazon redshift, postgresql',
 'mysql, databricks, mongodb, s3',
 'postgresql, sql server, mysql',
 'amazon athena, s3, postgresql',
 'db2, mongodb, sql server, google bigquery, databricks',
 'postgresql, s3, databricks',
 's3, sql server, databricks, amazon redshift',
 'amazon athena, s3',
 'midias sociais',
 'oracle, postgresql',
 'google bigquery, oracle, microsoft access, mysql, sqlite',
 'oracle, mysql, sqlite, sql server',
 'hive',
 'mysql, oracle',
 's3, postgresql, databricks, sql server',
 'mysql, sql server, s3, postgresql',
 'sql server, redis',
 'amazon redshift, mysql, google bigquery, postgresql, s3, firebase',
 'sqlite, sql server',
 'postgresql, oracle, sql server',
 'snowflake, mongodb, databricks',
 'sql server, postgresql, mysql',
 's3, mariadb, mysql, redis, postgresql, amazon aurora ou rds',
 'google firestore, mysql, postgresql',
 'mariadb, mysql',
 's3, snowflake, postgresql, mysql',
 'postgresql, sql server, databricks, oracle, mysql',
 's3, mysql',
 'lista do sharepoint',
 'oracle, s3, postgresql, amazon athena, amazon redshift, splunk',
 'sql server, mongodb, amazon athena',
 'sap hana, databricks',
 'sybase, sql server, mysql, firebird',
 'sql server, mysql, google bigquery, databricks',
 'databricks, hive',
 'mysql, microsoft access',
 'amazon athena, sql server, s3',
 'google bigquery, dynamodb, amazon aurora ou rds, amazon redshift, sql server, hive, postgresql, amazon athena',
 's3, postgresql, mysql, databricks',
 'oracle, hive',
 'databricks, sql server, sap hana, oracle, elaticsearch',
 'firebase, google bigquery, postgresql',
 'sql server, hive',
 'google bigquery, s3, mysql, sql server',
 'sqlite, db2, sql server, s3, amazon athena, coachdb',
 'postgresql, google bigquery',
 'google bigquery, mongodb',
 'postgresql, amazon athena, databricks, dynamodb, snowflake, amazon aurora ou rds, hive, s3, sql server, mysql',
 'sql server, mongodb',
 'firebase, databricks',
 'redis',
 'hive, db2, mysql',
 'mongodb, postgresql, splunk, sql server, oracle, s3, hive',
 'hive, db2',
 'firebase, amazon redshift, postgresql, dynamodb, redis, amazon athena, mongodb',
 'sap ecc',
 'presto, banco de dados próprio da empresa',
 'sql server, postgresql',
 's3, google bigquery, postgresql, amazon aurora ou rds, sql server, mariadb, amazon redshift, mysql',
 's3, sql server, sap hana, google bigquery, mongodb, postgresql, amazon redshift, firebase, mysql, oracle, hive, amazon athena, databricks, presto',
 'postgresql, sql server, google bigquery',
 'sql server, microsoft access, mysql',
 'hive, google bigquery',
 'mysql, s3, amazon redshift, postgresql, sqlite, amazon athena, sql server',
 'google bigquery, postgresql, s3, elaticsearch',
 'mysql, amazon redshift',
 's3, snowflake, databricks',
 'amazon redshift, s3, amazon athena, databricks',
 's3, amazon redshift, postgresql',
 'sql server, postgresql, presto, snowflake, databricks, sqlite',
 'hive, excel',
 'postgresql, snowflake',
 'postgresql, amazon redshift, mongodb',
 'snowflake, databricks',
 'denodo',
 'coachdb',
 'google bigquery, amazon redshift, mongodb, s3, elaticsearch, postgresql, mysql',
 's3, amazon athena, mysql',
 'hive, sql server',
 'google bigquery, databricks',
 'postgresql, firebird, mariadb',
 'receita',
 'postgresql, elaticsearch',
 'mysql, google bigquery, mongodb, postgresql, elaticsearch',
 'google bigquery, sql server, redis',
 'databricks, amazon athena, amazon redshift, s3',
 'mysql, google bigquery, postgresql',
 'databricks, mongodb, sql server',
 'db2, databricks',
 'mysql, dynamodb, amazon redshift, mongodb',
 'mysql, presto, google bigquery, google firestore, amazon athena, amazon redshift, firebase, snowflake, databricks, postgresql, sql server, mongodb',
 'mysql, postgresql, amazon aurora ou rds, amazon redshift, s3',
 'snowflake, postgresql, amazon athena',
 'mysql, amazon athena, s3, sqlite, amazon redshift',
 'oracle, s3',
 'amazon redshift, databricks',
 'postgresql, amazon athena, databricks, mysql, s3',
 'amazon redshift, amazon athena, s3, postgresql, mysql, presto',
 'azure data lake',
 'postgresql, amazon redshift, oracle, s3',
 'google bigquery, sql server',
 'sql server, oracle, mysql',
 'amazon athena, postgresql, s3, amazon redshift',
 'snowflake, amazon athena, s3',
 'sql server, amazon aurora ou rds, mysql',
 'sqlite, s3, amazon athena, postgresql, amazon aurora ou rds',
 'sql server, microsoft access, oracle',
 'google bigquery, databricks, datomic, oracle, s3',
 'snowflake, s3',
 'databricks, postgresql, sql server',
 'databricks, s3, dynamodb, amazon redshift, sql server',
 'presto, sql server',
 'amazon athena, mysql',
 'snowflake, mongodb, coachdb, google bigquery, elaticsearch, postgresql, databricks, mysql',
 'sql server, vertica, oracle',
 'mongodb, splunk, snowflake',
 'amazon athena, s3, google bigquery',
 'amazon athena, sql server, mysql, amazon redshift, s3, databricks, postgresql',
 's3, postgresql, amazon redshift',
 'sqlite, mysql',
 'sql server, amazon athena, s3',
 'amazon athena, databricks, s3',
 'sql server, amazon athena, mysql, amazon redshift, postgresql',
 'presto',
 'sql server, elaticsearch',
 'fontes da empresa em html ou csv',
 'sql server, databricks, sap hana',
 'snowflake, oracle, postgresql, amazon athena, s3, mongodb',
 'databricks, sql server, mysql, postgresql, sap hana',
 's3, sql server, mongodb, amazon aurora ou rds, databricks, postgresql, mysql',
 'amazon redshift, google bigquery, mongodb, mysql',
 'postgresql, google bigquery, elaticsearch',
 'firebase, mysql, google bigquery, postgresql, databricks, snowflake, mongodb',
 's3, hive, mysql, amazon athena, postgresql, databricks, mongodb, google bigquery, amazon redshift, amazon aurora ou rds',
 'sql server, amazon aurora ou rds, mysql, oracle, elaticsearch, postgresql, amazon redshift, databricks, s3, mongodb, amazon athena',
 'postgresql, amazon aurora ou rds, db2, hive, splunk, sql server, amazon athena, google bigquery, oracle, s3, amazon redshift, databricks, mysql, snowflake',
 'postgresql, amazon redshift, google bigquery, sql server, oracle, databricks',
 'postgresql, sql server, elaticsearch, s3',
 'elaticsearch, mongodb, postgresql, clickhouse',
 'snowflake, databricks, amazon athena',
 'sqlite, microsoft access, postgresql, sql server',
 'python',
 'presto, postgresql',
 'mariadb, google firestore',
 'amazon redshift, amazon athena, s3',
 'microsoft access, snowflake, google bigquery',
 'sap hana, snowflake, s3, cassandra, postgresql',
 'google bigquery, sybase, oracle, databricks, mysql',
 'dynamodb',
 'db2',
 'google bigquery, mysql, mariadb, s3, postgresql, sql server, sqlite, amazon athena, amazon redshift, snowflake, databricks, oracle',
 'snowflake, s3, elaticsearch, dynamodb, redis',
 'amazon aurora ou rds, mariadb, amazon athena',
 'elaticsearch, sql server, oracle, mysql',
 'google bigquery, amazon athena, s3, postgresql',
 'databricks, s3, mongodb, postgresql, mysql',
 'sap hana, google bigquery, sql server',
 'sql server, hana',
 'db2, mysql, sql server',
 'databricks, firebase, sas libs',
 's3, postgresql, google bigquery, hive, amazon redshift',
 'databricks, amazon athena, hive',
 'sap',
 'google bigquery, sql server, postgresql',
 'sybase, s3, hive, oracle, sql server',
 'mongodb, postgresql, amazon redshift',
 's3, amazon redshift, amazon athena, presto',
 'mongodb, s3, redis, cassandra, elaticsearch, mariadb',
 'mysql, s3, hive, dynamodb, sql server, postgresql, amazon aurora ou rds',
 'sqlite, microsoft access, postgresql',
 'microsoft access, hive, sql server',
 'sql server, sqlite, databricks',
 'sql server, s3, mysql, mongodb, sqlite, db2, google bigquery, postgresql, oracle, firebird',
 'databricks, postgresql, mysql',
 'mysql, sql server, firebird',
 'google sheets',
 'sql server, firebase, google bigquery, amazon redshift, amazon aurora ou rds, splunk',
 'mysql, databricks, s3',
 'prefiro não informar',
 'hbase, sql server, hive',
 'dynamodb, amazon aurora ou rds, s3, amazon athena',
 'snowflake, databricks, s3, sql server',
 'amazon aurora ou rds, mysql, sql server, postgresql, cassandra, hive',
 'google bigquery, s3, hive, presto',
 'dynamodb, sqlite, s3, mysql, mongodb, postgresql',
 'google bigquery, db2',
 'amazon athena, dynamodb, oracle, mongodb, amazon redshift, elaticsearch, amazon aurora ou rds, s3, postgresql',
 's3, oracle, databricks, google bigquery',
 'mysql, mongodb, sql server, sqlite, postgresql',
 'microsoft access, sqlite, sql server, mysql',
 'sql server, mongodb, hbase, cassandra, google bigquery, sqlite, amazon athena, amazon aurora ou rds, amazon redshift, hive, db2, dynamodb, databricks, postgresql, mysql, s3, oracle, mariadb, microsoft access',
 'postgresql, amazon redshift, amazon athena, mongodb, mysql, amazon aurora ou rds, s3, presto',
 'mysql, google bigquery, snowflake, mongodb, neo4j, elaticsearch, s3, presto, postgresql',
 'databricks, mongodb, s3, sql server',
 'postgresql, splunk, s3',
 'microsoft access, mysql, sql server, postgresql',
 'mysql, hive, databricks, snowflake, amazon redshift, amazon aurora ou rds',
 'amazon athena, sql server',
 'databricks, mysql, google bigquery',
 'sap hana, oracle, google bigquery',
 'amazon redshift, sql server, mysql, mongodb',
 'amazon athena, mongodb, mysql, databricks',
 'google firestore, postgresql, sql server, google bigquery, mysql, microsoft access',
 'mysql, presto, redis, dynamodb, s3, oracle, amazon athena, postgresql, amazon redshift, hive',
 'db2, hive',
 'google bigquery, s3, mysql, sql server, amazon athena, amazon redshift, presto, postgresql',
 'splunk, s3, databricks, dynamodb, datomic',
 'postgresql, mysql, oracle, sql server',
 'sql server, databricks, mongodb',
 'oracle, sap hana',
 's3, presto, hive, cassandra, sql server',
 's3, sql server',
 'amazon athena, mysql, sql server, amazon aurora ou rds, mongodb, s3',
 'oracle, postgresql, s3',
 'amazon aurora ou rds, amazon athena, mongodb, microsoft access, amazon redshift, sql server, sap hana, oracle',
 'databricks, firebase',

In [36]:
df.head(5)

,idade,genero,etnia,pcd,vive_no_brasil,estado_moradia,nivel_ensino,formacao,tempo_experiencia_dados,linguagens_preferidas,bancos_de_dados,cloud_preferida,cargo
0,39.0,Masculino,Parda,Não,True,Distrito Federal (DF),Pós-graduação,Computação / Engenharia de Software / Sistemas...,de 1 a 2 anos,r,"postgresql, oracle, mysql, sql server",Amazon Web Services (AWS),DBA/Administrador de Banco de Dados
1,53.0,Masculino,Branca,Não,True,Distrito Federal (DF),Pós-graduação,Computação / Engenharia de Software / Sistemas...,de 3 a 4 anos,python,"postgresql, mysql, oracle, db2",Amazon Web Services (AWS),Desenvolvedor/ Engenheiro de Software/ Analist...
2,27.0,Masculino,Branca,Não,True,Minas Gerais (MG),Doutorado ou Phd,Estatística/ Matemática / Matemática Computaci...,de 4 a 6 anos,python,google bigquery,Não sei opinar,Cientista de Dados/Data Scientist
3,46.0,Feminino,Branca,Não,True,Pará (PA),Pós-graduação,Computação / Engenharia de Software / Sistemas...,Não tenho experiência na área de dados,python,microsoft access,Amazon Web Services (AWS),Desenvolvedor/ Engenheiro de Software/ Analist...
4,32.0,Feminino,Parda,Não,True,Ceará (CE),Pós-graduação,Ciências Biológicas/ Farmácia/ Medicina/ Área ...,Não tenho experiência na área de dados,python,google bigquery,Google Cloud (GCP),Professor

In [37]:
df.to_excel('../data/sods_limpo.xlsx', index=False)