In [76]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [77]:
df = pd.read_excel("../data/sods_limpo.xlsx")

In [78]:
df.head(5)

,idade,genero,etnia,pcd,vive_no_brasil,estado_moradia,nivel_ensino,formacao,tempo_experiencia_dados,linguagens_preferidas,bancos_de_dados,cloud_preferida,cargo
0,39,Masculino,Parda,Não,True,Distrito Federal (DF),Pós-graduação,Computação / Engenharia de Software / Sistemas...,de 1 a 2 anos,r,"postgresql, oracle, mysql, sql server",Amazon Web Services (AWS),DBA/Administrador de Banco de Dados
1,53,Masculino,Branca,Não,True,Distrito Federal (DF),Pós-graduação,Computação / Engenharia de Software / Sistemas...,de 3 a 4 anos,python,"postgresql, mysql, oracle, db2",Amazon Web Services (AWS),Desenvolvedor/ Engenheiro de Software/ Analist...
2,27,Masculino,Branca,Não,True,Minas Gerais (MG),Doutorado ou Phd,Estatística/ Matemática / Matemática Computaci...,de 4 a 6 anos,python,google bigquery,Não sei opinar,Cientista de Dados/Data Scientist
3,46,Feminino,Branca,Não,True,Pará (PA),Pós-graduação,Computação / Engenharia de Software / Sistemas...,Não tenho experiência na área de dados,python,microsoft access,Amazon Web Services (AWS),Desenvolvedor/ Engenheiro de Software/ Analist...
4,32,Feminino,Parda,Não,True,Ceará (CE),Pós-graduação,Ciências Biológicas/ Farmácia/ Medicina/ Área ...,Não tenho experiência na área de dados,python,google bigquery,Google Cloud (GCP),Professor

## Extraindo Informações Sobre As Variaveis Categoricas

In [79]:
df.select_dtypes(include='object').describe()

,genero,etnia,pcd,estado_moradia,nivel_ensino,formacao,tempo_experiencia_dados,linguagens_preferidas,bancos_de_dados,cloud_preferida,cargo
count,2981,2981,2981,2981,2981,2981,2981,2981,2981,2981,2981
unique,3,7,3,23,7,10,7,21,1429,5,18
top,Masculino,Branca,Não,São Paulo (SP),Graduação/Bacharelado,Computação / Engenharia de Software / Sistemas...,de 1 a 2 anos,python,google bigquery,Amazon Web Services (AWS),Analista de Dados/Data Analyst
freq,2212,1917,2927,1220,1143,1102,906,2581,227,1153,639

In [80]:
df["bancos_de_dados"].unique().tolist()

['postgresql, oracle, mysql, sql server',
 'postgresql, mysql, oracle, db2',
 'google bigquery',
 'microsoft access',
 'sql server',
 'postgresql, sqlite, amazon athena',
 'mysql, postgresql, sql server',
 'sql server, hive, postgresql, splunk, databricks',
 'mysql, oracle, google bigquery',
 'oracle, mongodb, postgresql, databricks, hive',
 'google bigquery, dynamodb',
 'mongodb, db2, databricks, microsoft access, sql server, mariadb, oracle, mysql',
 'amazon athena, amazon redshift, databricks, mysql, s3',
 'postgresql, sql server, sqlite',
 'google bigquery, google cloud storage',
 'mysql',
 'amazon redshift, mongodb, amazon aurora ou rds',
 'microsoft access, sql server',
 'clickhouse',
 'amazon redshift, oracle, postgresql, amazon athena',
 'base de dados local',
 'mongodb, redis, postgresql, elaticsearch, s3',
 'mysql, sql server, postgresql, sqlite',
 'postgresql',
 'hive, elaticsearch, amazon aurora ou rds, sql server, presto, s3, mysql, amazon athena, dynamodb, amazon redshift, postgresql, oracle',
 's3',
 'sql server, mysql, postgresql, google bigquery',
 'splunk, amazon athena, google bigquery',
 'sap hana, db2, hive, databricks, mysql, amazon redshift, google bigquery, amazon athena, postgresql, s3, presto, sql server, mongodb',
 'google bigquery, mongodb, postgresql',
 'google bigquery, mysql',
 'amazon redshift, sql server, oracle',
 'databricks, google bigquery',
 'sql server, oracle, s3, sqlite, amazon athena, hive',
 's3, amazon redshift, amazon athena, mysql, amazon aurora ou rds',
 'oracle',
 'google bigquery, sap hana',
 'mysql, amazon redshift, mariadb, s3, elaticsearch, sqlite',
 'não uso',
 'postgresql, snowflake, dremio',
 'postgresql, sql server, google bigquery, mysql, cassandra, databricks',
 'amazon athena',
 'sql server, databricks, s3, mongodb',
 'interno',
 'hive, presto',
 'mysql, google bigquery, elaticsearch',
 'postgresql, sql server',
 'sql server, sybase, oracle, databricks',
 's3, mysql, sql server, databricks, oracle, snowflake, amazon athena, db2, sap hana, google bigquery',
 'databricks, s3',
 'databricks, sap hana',
 'amazon athena, s3, databricks',
 'oracle, snowflake',
 'sqlite, mysql, postgresql',
 's3, amazon redshift, mysql, amazon athena, sql server, postgresql',
 'sap hana',
 'mysql, firebase',
 'bases excel e csv extraídas direto no site',
 'metabase',
 'google bigquery, postgresql, sqlite, sql server, mysql, mongodb',
 'google bigquery, postgresql',
 'amazon athena, s3, presto, postgresql',
 'amazon redshift, s3, postgresql',
 'postgresql, amazon athena, s3, amazon aurora ou rds',
 'postgresql, google bigquery, snowflake, dynamodb, databricks',
 'excel',
 'mysql, mariadb, sql server, postgresql',
 'datomic, hive, splunk, amazon redshift, postgresql, dynamodb, presto, s3, cruxdb',
 'oracle, s3, dynamodb, amazon redshift, amazon athena',
 'sql server, progress',
 's3, amazon redshift, cassandra',
 's3, amazon athena',
 'databricks, sql server',
 'databricks',
 'amazon aurora ou rds, mysql, snowflake, oracle, amazon redshift, sql server, elaticsearch, amazon athena, s3, databricks, hive, google bigquery, cassandra',
 'databricks, sql server, sqlite, mysql',
 'oracle, amazon redshift, snowflake, postgresql',
 'postgresql, amazon redshift, dynamodb',
 'microsoft access, amazon redshift, sql server',
 'databricks, snowflake, s3',
 'sql server, s3, mysql, amazon athena',
 'postgresql, mysql, sql server',
 'mongodb, sap hana, google bigquery, dynamodb',
 'microsoft access, google bigquery',
 'postgresql, google bigquery, mongodb',
 'amazon redshift, snowflake, databricks',
 'sqlite, hive, google bigquery, postgresql, mysql, mongodb',
 'firebase',
 'dali - hpcc system',
 'oracle, databricks',
 'mysql, sqlite, s3',
 'sql server, amazon aurora ou rds, s3, amazon redshift, mongodb, sqlite, databricks, snowflake, google bigquery, postgresql, oracle, amazon athena, mysql',
 'mysql, sql server',
 'postgresql, google bigquery, sap hana',
 'dados não estruturados',
 'amazon athena, amazon redshift, mysql, amazon aurora ou rds',
 'snowflake',
 's3, amazon redshift, db2, mysql',
 'amazon aurora ou rds, elaticsearch, sql server, postgresql, dynamodb, amazon redshift, presto, amazon athena, s3',
 'elaticsearch, sql server',
 'sql server, snowflake',
 'mysql, sap hana, postgresql, sql server, mongodb, google bigquery',
 'amazon aurora ou rds, s3, mongodb, postgresql',
 'postgresql, oracle, mysql, s3',
 'google bigquery, google firestore',
 'postgresql, google bigquery, databricks',
 'sql server, db2',
 'amazon redshift, amazon aurora ou rds, s3',
 'db2, sql server',
 'sap hana, snowflake',
 'microsoft access, oracle, sql server',
 'postgresql, sql server, databricks',
 'postgresql, amazon athena, firebase, mongodb, google bigquery, amazon redshift, s3',
 'snowflake, s3, sistema de crm',
 'amazon redshift, google bigquery',
 'snowflake, elaticsearch, google bigquery, databricks, amazon athena, s3, mongodb, redis, dynamodb, postgresql, hive',
 's3, amazon aurora ou rds, sql server',
 'databricks, mysql, amazon redshift, postgresql, s3',
 'elaticsearch, mysql, postgresql, amazon athena, amazon redshift, amazon aurora ou rds, s3, dynamodb',
 'mongodb',
 'sql server, postgresql, google bigquery',
 'cassandra',
 'oracle, postgresql, sql server',
 'mysql, postgresql',
 'google firestore',
 'hive, mysql, dynamodb',
 's3, databricks, snowflake',
 'sql server, microsoft access',
 'google bigquery, hive, cloud spanner',
 'oracle, mysql',
 'amazon athena, neo4j, s3',
 'neo4j, mongodb, snowflake, amazon aurora ou rds, mysql, elaticsearch, sqlite, mariadb, hbase, hive, sql server, dynamodb, oracle, cassandra, s3, presto, amazon redshift, databricks, amazon athena',
 'mysql, amazon aurora ou rds, mongodb, postgresql',
 'google bigquery, postgresql, s3',
 'oracle, sql server, mysql',
 'google bigquery, sql server, mysql',
 'databricks, hive, postgresql, presto, sql server',
 'sqlite',
 'sharepoint',
 'sql server, amazon redshift',
 'microsoft access, oracle',
 'oracle, presto, neo4j, hbase, firebase, google bigquery, elaticsearch, snowflake, sqlite, dynamodb, redis, amazon aurora ou rds, mysql, amazon athena, amazon redshift, mongodb, sql server, hive, s3',
 'dynamodb, sql server',
 'postgresql, mysql',
 'sybase, postgresql, sql server',
 'hive, teradata',
 'mysql, s3, amazon aurora ou rds, sql server, databricks, postgresql',
 'sap hana, google bigquery, sql server, mysql',
 'postgresql, elaticsearch, google bigquery',
 'amazon aurora ou rds, amazon athena',
 'mongodb, postgresql, google bigquery',
 'google bigquery, amazon redshift',
 'postgresql, splunk, elaticsearch, db2',
 'synapse',
 'amazon redshift, s3',
 'db2, google bigquery, firebase, sql server, mongodb',
 'postgresql, presto, databricks, impala',
 'mariadb, databricks',
 'google bigquery, sql server, oracle, snowflake, s3, amazon aurora ou rds, mysql',
 'hive, google bigquery, s3, amazon redshift',
 'databricks, sql server, mysql',
 'sql server, splunk',
 'google bigquery, dynamodb, datomic, databricks, splunk',
 'amazon redshift',
 's3, amazon aurora ou rds, sql server, postgresql, amazon redshift, presto, hive, amazon athena, databricks, mongodb',
 's3, amazon athena, dynamodb, amazon redshift, google bigquery',
 'hive, databricks, google bigquery',
 'amazon redshift, mysql, databricks, s3',
 'sql server, oracle, microsoft access',
 'sql server, oracle, mysql, mongodb',
 'sql server, mysql',
 'sql server, sqlite, snowflake, sap hana',
 'api',
 'sql server, oracle',
 'sql server, s3, postgresql',
 'sap hana, google bigquery',
 'mysql, databricks',
 'snowflake, elaticsearch, redis, amazon redshift',
 'google analytics',
 'postgresql, s3',
 'sql server, mongodb, neo4j, postgresql, mysql',
 'sql server, postgresql, mysql, snowflake',
 'amazon athena, google bigquery, amazon aurora ou rds, mysql, elaticsearch, postgresql, mongodb',
 'nsa',
 'mysql, firebase, sql server, firebird',
 'sql server, oracle, mysql, microsoft access, postgresql, mongodb',
 'databricks, redis, elaticsearch, hive',
 's3, amazon redshift',
 'oracle, postgresql, sqlite, mysql, sql server',
 's3, postgresql, mysql, sql server, sqlite',
 'snowflake, sql server, azure blob storage',
 'elaticsearch',
 'datomic, google bigquery, databricks, s3, splunk',
 'google bigquery, mysql, mariadb',
 'sqlite, mongodb, sql server',
 'amazon athena, mariadb, mysql, s3',
 'oracle, amazon athena, amazon redshift, sql server, postgresql',
 's3, google bigquery, splunk, dynamodb, databricks',
 'snowflake, odbc',
 'amazon aurora ou rds, s3',
 'oracle, sql server',
 'databricks, amazon redshift',
 'sql server, databricks',
 'db2, sap hana, google bigquery',
 's3, databricks',
 'databricks, mongodb, oracle, mysql',
 'oracle, mysql, sql server',
 'google bigquery, google firestore, mysql',
 'dremio',
 'dynamodb, hive, sql server, db2, hbase',
 'mysql, sqlite, sql server',
 'snowflake, s3, sas',
 'teradata',
 'sql server, amazon redshift, mysql',
 's3, mysql, amazon aurora ou rds, sql server, postgresql',
 'postgresql, s3, amazon redshift',
 'sap hana, oracle, sql server',
 'dynamodb, mongodb, amazon athena, databricks, mysql, hive',
 'mysql, amazon aurora ou rds, amazon athena, amazon redshift, snowflake, mongodb, postgresql, s3',
 'oracle, db2',
 'mysql, mariadb, dynamodb, amazon redshift, amazon aurora ou rds',
 'snowflake, s3, sql server',
 'databricks, sql server, oracle, sqlite',
 'hive, mariadb, sql server, mysql, mongodb',
 'redis, s3, dynamodb, amazon aurora ou rds, postgresql, oracle, mysql, hbase, elaticsearch, sqlite, mongodb, mariadb, amazon athena, amazon redshift',
 'google bigquery, postgresql, gcs',
 'bigquery',
 'google bigquery, sql server, sybase',
 's3, postgresql, redis, mongodb',
 'mongodb, postgresql',
 'oracle, redis, postgresql',
 'sql server, oracle, postgresql',
 'oracle, amazon athena, mysql, google bigquery',
 'google bigquery, amazon redshift, amazon athena, s3',
 'oracle, databricks, sql server, s3, google bigquery',
 'amazon redshift, postgresql',
 'mysql, databricks, mongodb, s3',
 'postgresql, sql server, mysql',
 'amazon athena, s3, postgresql',
 'db2, mongodb, sql server, google bigquery, databricks',
 'postgresql, s3, databricks',
 's3, sql server, databricks, amazon redshift',
 'amazon athena, s3',
 'midias sociais',
 'oracle, postgresql',
 'google bigquery, oracle, microsoft access, mysql, sqlite',
 'oracle, mysql, sqlite, sql server',
 'hive',
 'mysql, oracle',
 's3, postgresql, databricks, sql server',
 'mysql, sql server, s3, postgresql',
 'sql server, redis',
 'amazon redshift, mysql, google bigquery, postgresql, s3, firebase',
 'sqlite, sql server',
 'postgresql, oracle, sql server',
 'snowflake, mongodb, databricks',
 'sql server, postgresql, mysql',
 's3, mariadb, mysql, redis, postgresql, amazon aurora ou rds',
 'google firestore, mysql, postgresql',
 'mariadb, mysql',
 's3, snowflake, postgresql, mysql',
 'postgresql, sql server, databricks, oracle, mysql',
 's3, mysql',
 'lista do sharepoint',
 'oracle, s3, postgresql, amazon athena, amazon redshift, splunk',
 'sql server, mongodb, amazon athena',
 'sap hana, databricks',
 'sybase, sql server, mysql, firebird',
 'sql server, mysql, google bigquery, databricks',
 'databricks, hive',
 'mysql, microsoft access',
 'amazon athena, sql server, s3',
 'google bigquery, dynamodb, amazon aurora ou rds, amazon redshift, sql server, hive, postgresql, amazon athena',
 's3, postgresql, mysql, databricks',
 'oracle, hive',
 'databricks, sql server, sap hana, oracle, elaticsearch',
 'firebase, google bigquery, postgresql',
 'sql server, hive',
 'google bigquery, s3, mysql, sql server',
 'sqlite, db2, sql server, s3, amazon athena, coachdb',
 'postgresql, google bigquery',
 'google bigquery, mongodb',
 'postgresql, amazon athena, databricks, dynamodb, snowflake, amazon aurora ou rds, hive, s3, sql server, mysql',
 'sql server, mongodb',
 'firebase, databricks',
 'redis',
 'hive, db2, mysql',
 'mongodb, postgresql, splunk, sql server, oracle, s3, hive',
 'hive, db2',
 'firebase, amazon redshift, postgresql, dynamodb, redis, amazon athena, mongodb',
 'sap ecc',
 'presto, banco de dados próprio da empresa',
 'sql server, postgresql',
 's3, google bigquery, postgresql, amazon aurora ou rds, sql server, mariadb, amazon redshift, mysql',
 's3, sql server, sap hana, google bigquery, mongodb, postgresql, amazon redshift, firebase, mysql, oracle, hive, amazon athena, databricks, presto',
 'postgresql, sql server, google bigquery',
 'sql server, microsoft access, mysql',
 'hive, google bigquery',
 'mysql, s3, amazon redshift, postgresql, sqlite, amazon athena, sql server',
 'google bigquery, postgresql, s3, elaticsearch',
 'mysql, amazon redshift',
 's3, snowflake, databricks',
 'amazon redshift, s3, amazon athena, databricks',
 's3, amazon redshift, postgresql',
 'sql server, postgresql, presto, snowflake, databricks, sqlite',
 'hive, excel',
 'postgresql, snowflake',
 'postgresql, amazon redshift, mongodb',
 'snowflake, databricks',
 'denodo',
 'coachdb',
 'google bigquery, amazon redshift, mongodb, s3, elaticsearch, postgresql, mysql',
 's3, amazon athena, mysql',
 'hive, sql server',
 'google bigquery, databricks',
 'postgresql, firebird, mariadb',
 'receita',
 'postgresql, elaticsearch',
 'mysql, google bigquery, mongodb, postgresql, elaticsearch',
 'google bigquery, sql server, redis',
 'databricks, amazon athena, amazon redshift, s3',
 'mysql, google bigquery, postgresql',
 'databricks, mongodb, sql server',
 'db2, databricks',
 'mysql, dynamodb, amazon redshift, mongodb',
 'mysql, presto, google bigquery, google firestore, amazon athena, amazon redshift, firebase, snowflake, databricks, postgresql, sql server, mongodb',
 'mysql, postgresql, amazon aurora ou rds, amazon redshift, s3',
 'snowflake, postgresql, amazon athena',
 'mysql, amazon athena, s3, sqlite, amazon redshift',
 'oracle, s3',
 'amazon redshift, databricks',
 'postgresql, amazon athena, databricks, mysql, s3',
 'amazon redshift, amazon athena, s3, postgresql, mysql, presto',
 'azure data lake',
 'postgresql, amazon redshift, oracle, s3',
 'google bigquery, sql server',
 'sql server, oracle, mysql',
 'amazon athena, postgresql, s3, amazon redshift',
 'snowflake, amazon athena, s3',
 'sql server, amazon aurora ou rds, mysql',
 'sqlite, s3, amazon athena, postgresql, amazon aurora ou rds',
 'sql server, microsoft access, oracle',
 'google bigquery, databricks, datomic, oracle, s3',
 'snowflake, s3',
 'databricks, postgresql, sql server',
 'databricks, s3, dynamodb, amazon redshift, sql server',
 'presto, sql server',
 'amazon athena, mysql',
 'snowflake, mongodb, coachdb, google bigquery, elaticsearch, postgresql, databricks, mysql',
 'sql server, vertica, oracle',
 'mongodb, splunk, snowflake',
 'amazon athena, s3, google bigquery',
 'amazon athena, sql server, mysql, amazon redshift, s3, databricks, postgresql',
 's3, postgresql, amazon redshift',
 'sqlite, mysql',
 'sql server, amazon athena, s3',
 'amazon athena, databricks, s3',
 'sql server, amazon athena, mysql, amazon redshift, postgresql',
 'presto',
 'sql server, elaticsearch',
 'fontes da empresa em html ou csv',
 'sql server, databricks, sap hana',
 'snowflake, oracle, postgresql, amazon athena, s3, mongodb',
 'databricks, sql server, mysql, postgresql, sap hana',
 's3, sql server, mongodb, amazon aurora ou rds, databricks, postgresql, mysql',
 'amazon redshift, google bigquery, mongodb, mysql',
 'postgresql, google bigquery, elaticsearch',
 'firebase, mysql, google bigquery, postgresql, databricks, snowflake, mongodb',
 's3, hive, mysql, amazon athena, postgresql, databricks, mongodb, google bigquery, amazon redshift, amazon aurora ou rds',
 'sql server, amazon aurora ou rds, mysql, oracle, elaticsearch, postgresql, amazon redshift, databricks, s3, mongodb, amazon athena',
 'postgresql, amazon aurora ou rds, db2, hive, splunk, sql server, amazon athena, google bigquery, oracle, s3, amazon redshift, databricks, mysql, snowflake',
 'postgresql, amazon redshift, google bigquery, sql server, oracle, databricks',
 'postgresql, sql server, elaticsearch, s3',
 'elaticsearch, mongodb, postgresql, clickhouse',
 'snowflake, databricks, amazon athena',
 'sqlite, microsoft access, postgresql, sql server',
 'python',
 'presto, postgresql',
 'mariadb, google firestore',
 'amazon redshift, amazon athena, s3',
 'microsoft access, snowflake, google bigquery',
 'sap hana, snowflake, s3, cassandra, postgresql',
 'google bigquery, sybase, oracle, databricks, mysql',
 'dynamodb',
 'db2',
 'google bigquery, mysql, mariadb, s3, postgresql, sql server, sqlite, amazon athena, amazon redshift, snowflake, databricks, oracle',
 'snowflake, s3, elaticsearch, dynamodb, redis',
 'amazon aurora ou rds, mariadb, amazon athena',
 'elaticsearch, sql server, oracle, mysql',
 'google bigquery, amazon athena, s3, postgresql',
 'databricks, s3, mongodb, postgresql, mysql',
 'sap hana, google bigquery, sql server',
 'sql server, hana',
 'db2, mysql, sql server',
 'databricks, firebase, sas libs',
 's3, postgresql, google bigquery, hive, amazon redshift',
 'databricks, amazon athena, hive',
 'sap',
 'google bigquery, sql server, postgresql',
 'sybase, s3, hive, oracle, sql server',
 'mongodb, postgresql, amazon redshift',
 's3, amazon redshift, amazon athena, presto',
 'mongodb, s3, redis, cassandra, elaticsearch, mariadb',
 'mysql, s3, hive, dynamodb, sql server, postgresql, amazon aurora ou rds',
 'sqlite, microsoft access, postgresql',
 'microsoft access, hive, sql server',
 'sql server, sqlite, databricks',
 'sql server, s3, mysql, mongodb, sqlite, db2, google bigquery, postgresql, oracle, firebird',
 'databricks, postgresql, mysql',
 'mysql, sql server, firebird',
 'google sheets',
 'sql server, firebase, google bigquery, amazon redshift, amazon aurora ou rds, splunk',
 'mysql, databricks, s3',
 'prefiro não informar',
 'hbase, sql server, hive',
 'dynamodb, amazon aurora ou rds, s3, amazon athena',
 'snowflake, databricks, s3, sql server',
 'amazon aurora ou rds, mysql, sql server, postgresql, cassandra, hive',
 'google bigquery, s3, hive, presto',
 'dynamodb, sqlite, s3, mysql, mongodb, postgresql',
 'google bigquery, db2',
 'amazon athena, dynamodb, oracle, mongodb, amazon redshift, elaticsearch, amazon aurora ou rds, s3, postgresql',
 's3, oracle, databricks, google bigquery',
 'mysql, mongodb, sql server, sqlite, postgresql',
 'microsoft access, sqlite, sql server, mysql',
 'sql server, mongodb, hbase, cassandra, google bigquery, sqlite, amazon athena, amazon aurora ou rds, amazon redshift, hive, db2, dynamodb, databricks, postgresql, mysql, s3, oracle, mariadb, microsoft access',
 'postgresql, amazon redshift, amazon athena, mongodb, mysql, amazon aurora ou rds, s3, presto',
 'mysql, google bigquery, snowflake, mongodb, neo4j, elaticsearch, s3, presto, postgresql',
 'databricks, mongodb, s3, sql server',
 'postgresql, splunk, s3',
 'microsoft access, mysql, sql server, postgresql',
 'mysql, hive, databricks, snowflake, amazon redshift, amazon aurora ou rds',
 'amazon athena, sql server',
 'databricks, mysql, google bigquery',
 'sap hana, oracle, google bigquery',
 'amazon redshift, sql server, mysql, mongodb',
 'amazon athena, mongodb, mysql, databricks',
 'google firestore, postgresql, sql server, google bigquery, mysql, microsoft access',
 'mysql, presto, redis, dynamodb, s3, oracle, amazon athena, postgresql, amazon redshift, hive',
 'db2, hive',
 'google bigquery, s3, mysql, sql server, amazon athena, amazon redshift, presto, postgresql',
 'splunk, s3, databricks, dynamodb, datomic',
 'postgresql, mysql, oracle, sql server',
 'sql server, databricks, mongodb',
 'oracle, sap hana',
 's3, presto, hive, cassandra, sql server',
 's3, sql server',
 'amazon athena, mysql, sql server, amazon aurora ou rds, mongodb, s3',
 'oracle, postgresql, s3',
 'amazon aurora ou rds, amazon athena, mongodb, microsoft access, amazon redshift, sql server, sap hana, oracle',
 'databricks, firebase',

## Variáveis Categoricas do dataframe 

    - nivel_ensino (ordinal) == oneHotEncoder 
    - tempo_de_experiencia (ordinal) == oneHotEncoder
    - genero (nominal) == oneHotEnconder 
    - etnia (nominal) == OneHotEnconder 
    - estado_moradia (nominal) == OnehotEnconder
    - pcd e vive_no_brasil (binaria) = mapeamento para 0 || 1
    
    - linguagem_preferidas e bancos_de_dados (OneHotEncoder com CountVectorizer)

    - cargo (Vai ser meu target)

Analisando os valores unicos da coluna "estado_moradia", pois é uma das colunas com mais valores unicos e mapeando a fim de diminuir o numero de novas colunas criadas com o OneHotEnconder

## Realizando o Mapeamento Binário

In [81]:
# Mapeia 'Sim' para 1 e 'Não' para 0
df['pcd'] = df['pcd'].map({'Sim': 1, 'Não': 0})

# Converte True para 1 e False para 0
df['vive_no_brasil'] = df['vive_no_brasil'].astype(int)

## Realizando o OneHotEncoder

In [82]:
encoder = OneHotEncoder(sparse_output=False, handle_unknown='ignore')

colunas_OneHot = ['genero','etnia','formacao','cloud_preferida','estado_moradia','nivel_ensino','tempo_experiencia_dados']

encoded_data = encoder.fit_transform(df[colunas_OneHot])

new_column_names = encoder.get_feature_names_out(colunas_OneHot)

encoded_df = pd.DataFrame(encoded_data, columns=new_column_names, index=df.index)

df = pd.concat([df.drop(colunas_OneHot, axis=1), encoded_df], axis=1)

## Realizando o OneHotEnconde usando o CountVectorizer

descrição: utiliza-se o CountVectorizer para realizar o OneHot quando se tem texto e é necessário quebra-lo pra forma novas colunas individuais

In [83]:
df['linguagens_preferidas'] = df['linguagens_preferidas'].fillna('')

#Inicializar o CountVectorizer com o token_pattern CORRIGIDO
#O padrão r'(?u)\b\w+\b' captura "palavras" de 1 ou mais caracteres, incluindo 'r'
vectorizer = CountVectorizer(
    binary=True,
    token_pattern=r'(?u)\b\w+\b'
)

#Aplicar o vectorizer à coluna para aprender o vocabulário e transformar os dados
linguagens_vetorizadas = vectorizer.fit_transform(df['linguagens_preferidas'])

#Criar um novo DataFrame com as colunas para cada linguagem
linguagens_df = pd.DataFrame(
    linguagens_vetorizadas.toarray(),
    columns=vectorizer.get_feature_names_out(),
    index=df.index
)

df = pd.concat([df.drop('linguagens_preferidas', axis=1), linguagens_df], axis=1)

In [ ]:
df['bancos_de_dados'] = df['bancos_de_dados'].fillna('')

sinonimos = {
    # Bancos relacionais
    "mysql": ["mysql", "my sql", "my-sql", "my_sql", "pwa microsoft - mysql ou sql"],
    "postgresql": ["postgres", "postgresql", "postgre"],
    "sqlserver": ["sql server", "sqlserver", "ms sql", "mssql", "sql dbx"],
    "oracle": ["oracle", "oracledb", "autonomous db", "sap hana", "hana"],
    "db2": ["db2"],
    "sqlite": ["sqlite", "sq lite"],
    "access": ["access", "microsoft access"],
    "mariadb": ["mariadb"],
    "firebird": ["firebird"],
    "informix": ["informix", "ibm informix"],

    # NoSQL
    "mongodb": ["mongodb", "mongo db", "mongo"],
    "cassandra": ["cassandra"],
    "document_stores": ["cosmos db", "couchdb", "cruxdb", "datomic", "dynamodb", "firebase"],
    "graph_db": ["neo4j"],
    "time_series": ["influxdb"],
    "key_value": ["redis"],
    "search_engines": ["elasticsearch", "solr"],

    # Cloud AWS
    "aws": ["amazon aurora", "amazon aurora ou rds", "aurora",
            "amazon redshift", "redshift",
            "amazon athena", "rds", "s3"],

    # Cloud GCP
    "gcp": ["bigquery", "google bigquery", "google big query",
            "big table", "bigtable",
            "cloud spanner",
            "google analytics",
            "google cloud storage", "gcs",
            "google firestore",
            "google sheets",
            "google"],

    # Cloud Azure
    "azure": ["azure", "ms azure",
              "azure sql",
              "azure synapse", "synapse",
              "azure blob storage", "azue blob storage",
              "azure data lake", "azure adls",
              "azure data explorer",
              "azure storage account"],

    # Plataformas/Lakes/ETL
    "data_lakes": ["databricks", "databricks sql",
                   "deltalake", "denodo", "dremio", "dali - hpcc system", "hpcc systems"],
    "bi_tools": ["cognos", "sap bo", "microstrategy", "powerbi", "superset",
                 "tableau", "sas", "sas libs", "spss", "splunk", "metabase"],
    "dev_tools": ["dbeaver", "knime", "kobotoolbox", "espaider"],

    # Arquivos / Formatos
    "arquivos": [".csv", "bases excel e csv extraídas direto no site", "excel",
                 "nosso banco é no excel", "odbc", "office"],

    # Dados internos / externos
    "dados_internos": [
        "dados internos", "dados não estruturados", "base interna",
        "base de dados local", "dados alternativos e dados internos da empresa",
        "banco de dados próprio da empresa", "fontes internas e de clientes",
        "fontes da empresa em html ou csv", "interno"
    ],
    "dados_publicos": ["dados públicos externos", "datasus", "receita"],
    "dados_geoespaciais": ["dados geoespaciais"],
    "web_apis": ["api", "consumo de apis com azure functions", "webscraping"],
    "midias_digitais": ["diversas fontes de marketing digital", "midias sociais", "rd station", "salesforce", "omie", "crm", "sistema de crm"],

    # SAP
    "sap": ["sap", "sap ecc", "sap business", "sap hana"],

    # Big Data / Processamento
    "big_data": ["hadoop", "hive", "hbase", "impala", "presto", "vertica", "teradata", "snowflake", "splunk", "hue", "ibm blue mix"],

    # Outros
    "lista_sharepoint": ["lista do sharepoint", "sharepoint"],
    "pesquisa_empirica": ["pesquisas empírica que eu coleto os dados"],
    "prefiro_nao_informar": ["prefiro não informar"],
    "nao_uso": ["não uso"],
    "outro": ["outro", "solução proprietária", "ooo", "nsa", "sintax"],
    "python": ["python"],
}



# Função para normalizar
def normalizar_nome(nome):
    nome = nome.strip().lower()
    for padrao, variantes in sinonimos.items():
        if nome in variantes:
            return padrao
    return nome  # se não bater, mantém

# Quebrar por vírgula, limpar e normalizar
def preprocessar_bancos(texto):
    itens = [item.strip() for item in texto.split(',')]
    return ",".join([normalizar_nome(item) for item in itens if item])

df['bancos_de_dados'] = df['bancos_de_dados'].apply(preprocessar_bancos)

# Tokenizer customizado
custom_tokenizer = lambda text: [item.strip() for item in text.split(',')]

# Vectorizer
vectorizer_db = CountVectorizer(
    binary=True,
    tokenizer=custom_tokenizer
)

db_vetorizados = vectorizer_db.fit_transform(df['bancos_de_dados'])

bancos_df = pd.DataFrame(
    db_vetorizados.toarray(),
    columns=vectorizer_db.get_feature_names_out(),
    index=df.index
)

# Concatenar de volta
df = pd.concat([df.drop('bancos_de_dados', axis=1), bancos_df], axis=1)

c:\Users\morae\workspace\jornada\censo_preditivo\venv_novo\Lib\site-packages\sklearn\feature_extraction\text.py:517: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn(

In [85]:
df

,idade,pcd,vive_no_brasil,cargo,genero_Feminino,genero_Masculino,genero_Prefiro não informar,etnia_Amarela,etnia_Branca,etnia_Indígena,...,progress,python,sap,search_engines,sql,sqlite,sqlserver,sybase,time_series,web_apis
0,39,0.0,1,DBA/Administrador de Banco de Dados,0.0,1.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,1,0,0,0
1,53,0.0,1,Desenvolvedor/ Engenheiro de Software/ Analist...,0.0,1.0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,27,0.0,1,Cientista de Dados/Data Scientist,0.0,1.0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,46,0.0,1,Desenvolvedor/ Engenheiro de Software/ Analist...,1.0,0.0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,32,0.0,1,Professor,1.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2976,28,0.0,1,Analista de Marketing,0.0,1.0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,1,0,0,0,0
2977,26,0.0,1,Analista de Dados/Data Analyst,0.0,1.0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2978,30,0.0,1,Engenheiro de Dados/Arquiteto de Dados/Data En...,1.0,0.0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,0,1,0,0,0
2979,31,0.0,1,Outra Opção,0.0,1.0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2980,24,0.0,1,Analista de Dados/Data Analyst,0.0,1.0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,0,1,0,0,0

## Normalizando Dados e comparativo estatistico da coluna idade antes e depois da normalização

In [86]:
idade_antes_normalizada = df['idade'].describe()

In [87]:
colunas_para_normalizar = ['idade']

scaler = MinMaxScaler()

df[colunas_para_normalizar] = scaler.fit_transform(df[colunas_para_normalizar])

In [88]:
idade_depois_normalizada = df['idade'].describe()

In [89]:
matriz_comparativa = pd.DataFrame({
    'Antes da Normalizacao (Idade em anos)': idade_antes_normalizada,
    'Depois da Normalizacao (0 a 1)': idade_depois_normalizada
})

matriz_comparativa

       Antes da Normalizacao (Idade em anos)  Depois da Normalizacao (0 a 1)
count                            2981.000000                     2981.000000
mean                               30.334452                        0.342624
std                                 6.439328                        0.178870
min                                18.000000                        0.000000
25%                                26.000000                        0.222222
50%                                29.000000                        0.305556
75%                                34.000000                        0.444444
max                                54.000000                        1.000000

In [90]:
df.columns.tolist()

['idade',
 'pcd',
 'vive_no_brasil',
 'cargo',
 'genero_Feminino',
 'genero_Masculino',
 'genero_Prefiro não informar',
 'etnia_Amarela',
 'etnia_Branca',
 'etnia_Indígena',
 'etnia_Outra',
 'etnia_Parda',
 'etnia_Prefiro não informar',
 'etnia_Preta',
 'formacao_Ciências Biológicas/ Farmácia/ Medicina/ Área da Saúde',
 'formacao_Ciências Sociais',
 'formacao_Computação / Engenharia de Software / Sistemas de Informação/ TI',
 'formacao_Economia/ Administração / Contabilidade / Finanças/ Negócios',
 'formacao_Estatística/ Matemática / Matemática Computacional/ Ciências Atuariais',
 'formacao_Marketing / Publicidade / Comunicação / Jornalismo',
 'formacao_Outra opção',
 'formacao_Outras Engenharias',
 'formacao_Prefiro não informar',
 'formacao_Química / Física',
 'cloud_preferida_Amazon Web Services (AWS)',
 'cloud_preferida_Azure (Microsoft)',
 'cloud_preferida_Google Cloud (GCP)',
 'cloud_preferida_Não sei opinar',
 'cloud_preferida_Outra Cloud',
 'estado_moradia_Alagoas (AL)',
 'estado_moradia_Amazonas (AM)',
 'estado_moradia_Bahia (BA)',
 'estado_moradia_Ceará (CE)',
 'estado_moradia_Distrito Federal (DF)',
 'estado_moradia_Espírito Santo (ES)',
 'estado_moradia_Goiás (GO)',
 'estado_moradia_Maranhão (MA)',
 'estado_moradia_Mato Grosso (MT)',
 'estado_moradia_Mato Grosso do Sul (MS)',
 'estado_moradia_Minas Gerais (MG)',
 'estado_moradia_Não Informado',
 'estado_moradia_Paraná (PR)',
 'estado_moradia_Paraíba (PB)',
 'estado_moradia_Pará (PA)',
 'estado_moradia_Pernambuco (PE)',
 'estado_moradia_Piauí (PI)',
 'estado_moradia_Rio Grande do Norte (RN)',
 'estado_moradia_Rio Grande do Sul (RS)',
 'estado_moradia_Rio de Janeiro (RJ)',
 'estado_moradia_Santa Catarina (SC)',
 'estado_moradia_Sergipe (SE)',
 'estado_moradia_São Paulo (SP)',
 'nivel_ensino_Doutorado ou Phd',
 'nivel_ensino_Estudante de Graduação',
 'nivel_ensino_Graduação/Bacharelado',
 'nivel_ensino_Mestrado',
 'nivel_ensino_Não tenho graduação formal',
 'nivel_ensino_Prefiro não informar',
 'nivel_ensino_Pós-graduação',
 'tempo_experiencia_dados_Mais de 10 anos',
 'tempo_experiencia_dados_Menos de 1 ano',
 'tempo_experiencia_dados_Não tenho experiência na área de dados',
 'tempo_experiencia_dados_de 1 a 2 anos',
 'tempo_experiencia_dados_de 3 a 4 anos',
 'tempo_experiencia_dados_de 4 a 6 anos',
 'tempo_experiencia_dados_de 7 a 10 anos',
 'c',
 'clojure',
 'dax',
 'elixir',
 'excel',
 'go',
 'java',
 'javascript',
 'julia',
 'language',
 'm',
 'não',
 'opinar',
 'postegres',
 'pyspark',
 'python',
 'r',
 'rust',
 'sas',
 'scala',
 'sei',
 'spark',
 'sql',
 'vba',
 'access',
 'arquivos',
 'aws',
 'azure',
 'b.o sap',
 'bi_tools',
 'big_data',
 'cassandra',
 'clickhouse',
 'coachdb',
 'dados_geoespaciais',
 'dados_internos',
 'dados_publicos',
 'data_lakes',
 'dataflow',
 'db2',
 'dev_tools',
 'document_stores',
 'duckdb',
 'elaticsearch',
 'firebird',
 'gcp',
 'graph_db',
 'informix',
 'key_value',
 'lista_sharepoint',
 'mariadb',
 'medidata rave',
 'midias_digitais',
 'mongodb',
 'mysql',
 'nao_uso',
 'oracle',
 'outro',
 'pesquisa_empirica',
 'postgresql',
 'prefiro_nao_informar',
 'progress',
 'python',
 'sap',
 'search_engines',
 'sql',
 'sqlite',
 'sqlserver',
 'sybase',
 'time_series',
 'web_apis']

In [91]:
df.to_excel('../data/sods_processado.xlsx', index=False)